// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Customization

// Colors
$blurple: #7289DA;
$blurple-invert: findColorInvert($blurple);
$greyple: #99AAB5;
$greyple-invert: findColorInvert($greyple);
$dark-but-not-black: #2C2F33;
$dark-but-not-black-invert: findColorInvert($dark-but-not-black);
$not-quite-black: #23272A;
$not-quite-black-invert: findColorInvert($not-quite-black);
$light-gray-but-not-so-light: #484B52;
$background-color: #18191c;
$background-invert: $white;

$primary: $blurple;
$primary-invert: $blurple-invert;

// Links
$link: $blurple;
$link-hover: $white;

// Setup $colors to use as bulma classes (e.g. 'is-dark')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "background": ($background-color, $background-invert)
);

// Fonts
$family-sans-serif: "Montserrat", sans-serif;
$family-primary: $family-sans-serif;

// Text
$text: $white;
$text-light: #ddd;
$text-strong: $primary;
$title-color: $text;
$subtitle-color: $text;
$subtitle-strong-color: $text;
$label-color: $text;

// Body
$body-background-color: $background-color;
$background: $background-color;

// Navbar
$navbar-background-color: $background;
$navbar-item-hover-background-color: $not-quite-black;
$navbar-item-active-background-color: $not-quite-black;
$navbar-item-color: $white;

$navbar-dropdown-background-color: $not-quite-black;
$navbar-dropdown-item-active-background-color: $not-quite-black;
$navbar-dropdown-item-hover-color: $link;
$navbar-dropdown-item-color: $white;
$navbar-divider-background-color: $dark-but-not-black;

// Footer
$footer-background-color: $dark-but-not-black;

// Buttons
$button-background-color: $primary;
$button-color: $primary-invert;
$button-border-color: $button-background-color;
$button-hover-border-color: lighten($button-background-color, 10%);

// Input
$input-background-color: $light-gray-but-not-so-light;
$input-disabled-background-color: $dark;

$input-color: $white;
$input-hover-color: $white;
$input-focus-color: $white;
$input-border-color: $light-gray-but-not-so-light;
$input-arrow: $white;

// Dropdown
$dropdown-item-color: $white;
$dropdown-content-background-color: $light-gray-but-not-so-light;
$dropdown-item-hover-color: $primary;
$dropdown-item-hover-background-color: $light-gray-but-not-so-light;
$dropdown-item-active-color: $primary;
$dropdown-item-active-background-color: $light-gray-but-not-so-light;

// Cards
$card-background-color: $light-gray-but-not-so-light;
$card-header-color: $white;

// Modals
$modal-card-title-color: $white;
$modal-card-head-border-bottom: 1px solid $light-gray-but-not-so-light;
$modal-card-body-background-color: $background-color;
$modal-card-foot-border-top: 1px solid $light-gray-but-not-so-light;

// Message
$message-background-color: $dark-but-not-black;
$message-header-background-color: $not-quite-black;

// Global styles
.round {
  border-radius: 100%;
}

.is-vcentered {
  justify-content: center;
  align-items: center;
}

.module-card-footer {
  flex-direction: row-reverse;
}

// Import Bulma and Buefy styles and custom font
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900,900i');
@import url('https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import "~bulma";

$background: $white;
@import "~buefy/src/scss/buefy";
@import "placeholderInput.scss"
