@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$blurple: #7289DA;
$blurple-invert: findColorInvert($blurple);

$greyple: #99AAB5;
$greyple-invert: findColorInvert($greyple);

$dark-but-not-black: #2C2F33;
$dark-but-not-black-invert: findColorInvert($dark-but-not-black);

$not-quite-black: #23272A;
$not-quite-black-invert: findColorInvert($not-quite-black);

$family-sans-serif: "Montserrat", sans-serif;

$primary: $blurple;
$primary-invert: $blurple-invert;
$family-primary: $family-sans-serif;

$body-background-color: #18191c;

$link: $blurple;
$link-hover: $white;

$navbar-background-color: $not-quite-black;
$navbar-item-hover-background-color: $not-quite-black;
$navbar-item-active-background-color: $not-quite-black;
$navbar-item-color: $white;

$navbar-dropdown-background-color: $not-quite-black;
$navbar-dropdown-item-active-background-color: $not-quite-black;
$navbar-dropdown-item-hover-color: $link;
$navbar-dropdown-item-color: $white;
$navbar-divider-background-color: $dark-but-not-black;

$footer-background-color: $dark-but-not-black;

.round {
  border-radius: 100%;
}

@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

