// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Customization

// Colors
$blurple: #7289DA;
$blurple-invert: findColorInvert($blurple);
$greyple: #99AAB5;
$greyple-invert: findColorInvert($greyple);
$dark-but-not-black: #2C2F33;
$dark-but-not-black-invert: findColorInvert($dark-but-not-black);
$not-quite-black: #23272A;
$not-quite-black-invert: findColorInvert($not-quite-black);

$primary: $blurple;
$primary-invert: $blurple-invert;

// Links
$link: $blurple;
$link-hover: $white;

// Setup $colors to use as bulma classes (e.g. 'is-dark')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

// Fonts
$family-sans-serif: "Montserrat", sans-serif;
$family-primary: $family-sans-serif;

// Body
$body-background-color: #18191c;

// Navbar
$navbar-background-color: $not-quite-black;
$navbar-item-hover-background-color: $not-quite-black;
$navbar-item-active-background-color: $not-quite-black;
$navbar-item-color: $white;

$navbar-dropdown-background-color: $not-quite-black;
$navbar-dropdown-item-active-background-color: $not-quite-black;
$navbar-dropdown-item-hover-color: $link;
$navbar-dropdown-item-color: $white;
$navbar-divider-background-color: $dark-but-not-black;

// Footer
$footer-background-color: $dark-but-not-black;

// Global styles
.round {
  border-radius: 100%;
}

.is-vcentered {
  justify-content: center;
  align-items: center;
}

// Import Bulma and Buefy styles and custom font
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900,900i');
@import url('https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css');
@import "~bulma";
@import "~buefy/src/scss/buefy";
